:root {
    --blue: #0A0C19;
    --blue-violet: #1B1938;
    --violet: #AA5CDB;
    --white: #fff;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 70%;
    height: 70vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.card-text {
    background-color: var(--blue-violet);
    color: var(--white);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.card-image {
    width: 50%;
    height: 100%;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    filter: grayscale(100%);
}

.card-title {
    font-family: var(--primary-font);
}

.card-title>h1 {
    margin-bottom: 30px;
}

.card-title>h1>span {
    color: var(--violet);
}

.card-status {
    font-family: var(--secondary-font);
    display: flex;
    gap: 25px;
}

.overlay {
    background-color: var(--violet);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    opacity: 0.3;
    /* height: 100%;
    width: 100%; */
    z-index: 444;
    transition: all ease-in-out 300ms;
}

.card:hover {
    border: 1px solid blue;
}

.card:hover .overlay {
    opacity: 0;
}

.card:hover .card-image img {
    filter: grayscale(0%);
}

@media only screen and (max-width:1200px) {

    .card-text {
        width: 70%;
    }

    .card-image {
        width: 30%;
    }
}

@media only screen and (max-width:800px) {
    .card {
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
    }

    .card-text {
        width: 100%;
        padding: 40px;
    }

    .card-image {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    .card-text {
        height: 70%;
        padding: 25px;
    }

    .card-image {
        height: 30%;
    }

    .card-title>h1 {
        font-size: 1.5rem;
    }
}